<div style="margin-top:100px">
  <div class="jumbotron">
    <center><h1  style="color:#820263; font-family:cursive"><em>Welcome To HaakMart</em></h1><hr></center>
    <center><p  style="color:#820263; font-family:cursive"><em>Discover affordable and fashionable clothing online at <b>HAAKMart.</b></em></p><hr></center>
    <center><img class="haakmart" src="/img/haakmart.png"></center>
    <form action="/ideas/add">
    <button type="submit" class="btn btn-block" style="margin-top:15px;background-color:#B17F94;color:#820263"><b>Categories</b></button>
    </form>
  </div>